<%= div_for(comment) do %>
  <div class="comments_wrapper clearfix">
    <div class="pull-left">

      <p class="lead"><%= comment.body%></p>
      <p >
        <small>Submmited <strong><%= time_ago_in_words(comment.created_at)%> ago</strong>by</small>
        <%= comment.user.name%>
      </p>
    </div>

    <div class="btn-group pull-right">
      <% if comment.user == current_user %>

        <%= link_to 'Destroy', comment, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-default"%>
      <% end %>
    </div>
  </div>
<% end %>
